{% load url from future %}
{% load i18n %}
<div id="snippetAssetPopup" class="modal modal-extended fade" tabindex="-1" role="dialog" aria-labelledby="snippetAssetPopupLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="snippetAssetPopupLabel">{% trans "Choose Snippet" %}</h3>
            </div>
            <div class="modal-body">

                <div class="row-fluid">
                    <div class="asset-filters span3">
                        <div class="well">
                            <ul class="nav nav-list">
                                <li class="nav-header"><span>{% trans "By Source" %}</span></li>
                                <li data-bind="css: { active: $root.source() == 'global' }"><a href="#" data-bind="click: function() { $root.source('global') } ">{% trans "Global Snippets" %}</a></li>
                                <li data-bind="css: { active: $root.source() == 'personal' }"><a href="#" data-bind="click: function() { $root.source('personal') } ">{% trans "Your Snippets" %}</a></li>
                                <li class="nav-header"><span>{% trans "By Tag" %}</span></li>
                                <li>
                                    <select class="input-medium" data-bind="
                                        options: tags,
                                        optionsText: 'name',
                                        optionsValue: 'id',
                                        optionsCaption: '---',
                                        value: selectedTag">
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="asset-toolbar row-fluid">
                            <div class="span6">
                                <div class="btn-group">
                                    <button class="btn" data-bind="css: { active: viewStyle() == 'grid' }, click: function(){ viewStyle('grid') }">{% trans "Grid" %}</button>
                                    <button class="btn" data-bind="css: { active: viewStyle() == 'table' }, click: function(){ viewStyle('table') }">{% trans "Table" %}</button>
                                </div>

                                <div class="search-field">
                                    <input type="text" placeholder="Search" data-bind="value: search, valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="span6">
                                <div class="stack-options">
                                    <label>{% trans 'Sort By' %}:</label>
                                    <select data-bind="value: sort">
                                        <option value="name">{% trans 'Name (A-Z)' %}</option>
                                        <option value="newest_first">{% trans 'Newest First' %}</option>
                                        <option value="oldest_first">{% trans 'Oldest First' %}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div id="asset-list" class="stack-pane row-fluid">
                           <div class="alert alert-error fade in" data-bind="visible: errorMessage">
                               <a href="#" data-bind="click: function () { errorMessage(null); }" class="close">&times;</a>
                               <i class="icon-exclamation-sign"></i>
                               <span data-bind="text: errorMessage"></span>
                           </div>

                            <!-- ko if: viewStyle() == "grid" -->
                            <div class="asset-block" data-bind="foreach: assets, visible: !isLoading()">
                                <div class="asset-container asset-type-snip" data-bind="css: { 'asset-disabled': ! $root.isFit($data) }">
                                    <div class="asset-item">
                                        <a href="#" data-bind="click: function() { $root.useAsset($data); }">
                                            <div class="contents" data-bind="text: contents"></div>
                                            <div class="caption">
                                                <span class="caption-name" data-bind="text: name">{% trans "Name" %}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->

                            <!-- ko if: viewStyle() == "table" -->
                            <table class="table table-bordered table-striped" data-bind="visible: !isLoading()">
                                <thead>
                                    <tr>
                                        <th>{% trans "Snippet Name" %}</th>
                                        <th>{% trans "Description" %}</th>
                                        <th>{% trans "Date Added" %}</th>
                                        <th>{% trans "Last Edited" %}</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: assets">
                                    <tr>
                                        <td><a href="#" data-bind="text: name, click: function(){ $root.useAsset($data); }"></a></td>
                                        <td><span data-bind="text: description"></span></td>
                                        <td data-bind="text: $root.formatDate($data.date_created) "></td>
                                        <td data-bind="text: $root.formatDate($data.date_modified) "></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /ko -->

                            <p><em data-bind="visible: noAssets">{% trans "No Snippets" %}</em></p>
                            <p data-bind="visible: isLoading">{% trans 'LOADING' %}...</p>
                        </div>
                    </div>
                </div>
                {% include 'asset_library/partials/selector_pagination.html' %}
                <a href="{% url 'asset_library:library_list' %}">{% trans 'Manage assets' %}</a>
            <!-- End of content -->
            </div>
        </div>
    </div>
</div>
